#eighth {
  position: relative;
  bottom: 90px;
  z-index: 9874623497;
  margin-top: 20px;
  right: 4px;
  .container {
    padding-left: 20px;
    color: $base-color;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 1095px;
    height: 200px;
    border-radius:20px;
    background: $gray-background;


    .fourth-contact_p {
      font-size: 12px;
      color: $lightgray-color;
    }
    .contact-confirm {
      display: flex;
      gap: 16px;
      margin-top: 16px;
      margin-bottom: 22px;

      label {
        padding: 7px 16px;
        background: $white-color;
        border-radius: 10px;
        p {
          font-size: 12px;
          font-weight: 400;
          color: $lightgray-color;
        }
        input {
          outline: none;
          border: none;
        }
      }
      button {
        padding: 7px 16px;
        border: 1px solid $white-color;
        background: $base-green;
        color: $white-color;
        border-radius: 10px;
        cursor: pointer;

        &:hover {
          background: $base-greenHover;
          color: $white-color;
        }

        &:active {
          background: $base-green;
          color: white;
        }
      }
    }
  }
}
