#first{

    margin-bottom: 96px;

    .container{
        padding-left: 20px;
        color: $base-color;

        .pre-first a{
            color: $lightgray-color;
        }
        
        .first{


            display: flex;
            align-items: center;
            justify-content: space-between;

            p{
                line-height: 1.5;

            }

            div{
                max-width: 657px;
            }

            &-btn{
                display: flex;
                gap: 30px;
                margin-top: 30px;

                a{
                    color:$base-green;
                    font-size: 24px;
                    border-bottom: 1px solid $base-green;
                    font-weight: 700;
                }

                button{
                    padding: 16px 36px;
                    background: $base-green;
                    border:none;
                    color: $white-color;
                    border-radius: 10px;

                    &:hover{
                        background: $base-greenHover;
                    }

                    &:active{
                        background:$base-green;
                    }
                }
                p{
                    margin-top: 5px;
                    color: $lightgray-color;
                    font-size: 12px;
                }
            }
            ul{
                display: flex;
                margin-top: 30px;
                gap: 30px;

                li{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }
            }
        }


    }
}
@media only screen and (max-width : 500px){
 
}